.green{
	background-color:green;
	width::20rem;
}

.red{
	background-color:red;
}

.blue{
	background-color:blue;
}

.yellow{
	background-color:yellow;
}

.box{
	height:10rem;
	width:10rem;
	margin-top:0.5rem;
}
