
.navbar {

  z-index: 500;
  position: fixed;
  overflow: hidden;
  background-color: #131835;
  /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-left:3rem;
}

/* Links inside the navbar */
.navbar .navlink {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar .navlink:hover {
  background: #ddd;
  color: black;
}

.navcontainer{
  display: flex;
  justify-content:space-between;
  padding:0 1rem;
  width: 100%;
}

.responsive-nav {
  display: inline;
  color:white;
  width:2rem;
  height:2rem;
  margin:2rem 2rem;
}

.items-responsive-nav{
  vertical-align:center;
  padding-top:0.75rem;
}

footer {
  width: 100%;
  background-color: #131835;
  color: white;
  text-align: center;
  justify-content:center;
  display: flex;
  margin-top: 5rem;
  padding: 0;
  color: #fff;
}

footer ul {
  display: flex;
  list-style: none;
}

footer li{
  margin-right:0.5rem;
}

footer li a {
 color: white;
}

footer li a:hover {
 color: white;
}

.footercontainer {
  display: flex; /* or inline-flex */
}

.container{
 width: 100%;
 margin:0;
 padding:0;
 max-width: 100%;
 margin-top: 3.75rem;
}

.bg1{
  background-image: url("../img/homepage1.jpg");                  /* <------ */
  background-size:contain;
  background-repeat:   no-repeat;
  width: 100%;
  height: 0;
  padding-top: 29.21%;
}

.logo{
  width:75%
}
